<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="NDTV Weather UI test">
		<classes>
			<class name="com.testvagrant.drivermanager.DriverFactory" />
			<class name="com.testvagrant.testcases.NDTVWeatherPageTest" />
		</classes>
	</test>
	<test name="Open Weather API test">
		<classes>
			<class name="com.testvagrant.testcases.OpenWeatherAPITest" />
		</classes>
	</test>
	<test name="Comparison of API and UI weather details">
		<classes>
			<class name="com.testvagrant.testcases.WeatherComparator" />
		</classes>
	</test>
</suite>
